<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>MP3 Submission Form</title>
      <link rel="stylesheet" type="text/css" href="assets/style.css" />
   </head>
   <body>
      <div id="shadow">
         <header>
            <br/> <!-- this only here as a style chose -->
         </header>
         <div class="frosted-glass">
            {% if failed %}
                <p>{{ message }}</p>
            {% else %}
                <p>MP3 Successfully Registered To The Server</p>
            {% endif %}
         </div>
      </div>
   </body>
</html>
